@use '../custom' as *;
@use '../components/mixins' as *;

.testimonials {
    position: relative;
    padding: 0;
    @include gradient;

    &__card {
        background-color: rgba($white, 0.8);
        padding: 1.3rem 1.25rem;
        margin: 2rem 0rem;
        border-radius: 0.625rem;
        height: auto;
        text-align: center;

        i {
            font-size: 1.5rem;
            color: rgba($primary, 0.7);
        }

        .ratings {


            i {
                color: rgba($primary, 0.7);
                font-size: 1rem;
            }
        }
    }



    &__name {
        padding-top: 0rem;
        margin-bottom: 0.1rem;
        text-align: center;
        font-weight: 500;
        color: rgba($primary, 0.7);

        h3 {
            padding: 0rem;
            text-transform: capitalize;
        }

        p {
            padding: 0;
            text-transform: capitalize;
        }
    }
}

