@use '../custom' as *;

// GRADIENT MIXIN
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

// ABSOLUTE CENTER MIXIN

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// TRANSITION EFFECT

@mixin transitionEffect {
    transition-duration: 1000ms;
    transition-property: all;
}

// Custom Background Effect

@mixin ctaBackground {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1040%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='29.19' cx='775.3' cy='367.54' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='47.355' cx='296.21' cy='492.66' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='46.95' cx='890.49' cy='65.1' fill='url(%23SvgjsLinearGradient1041)'%3e%3c/circle%3e%3ccircle r='23.19' cx='907.76' cy='210.44' fill='url(%23SvgjsLinearGradient1042)'%3e%3c/circle%3e%3ccircle r='24.905' cx='1122.76' cy='360.67' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/circle%3e%3ccircle r='42' cx='1130.22' cy='366.55' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/circle%3e%3ccircle r='43.26' cx='841.56' cy='93.64' fill='url(%23SvgjsLinearGradient1045)'%3e%3c/circle%3e%3ccircle r='17.555' cx='156.33' cy='5.03' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1040'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='796.59' y1='65.1' x2='984.3900000000001' y2='65.1' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1041'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='861.38' y1='210.44' x2='954.14' y2='210.44' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1042'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1072.95' y1='360.67' x2='1172.5700000000002' y2='360.67' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1043'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1046.22' y1='366.55' x2='1214.22' y2='366.55' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1044'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='755.04' y1='93.64' x2='928.0799999999999' y2='93.64' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1045'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='121.22000000000001' y1='5.030000000000001' x2='191.44' y2='5.030000000000001' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1046'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
